* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color:rgb(240, 240, 240);
  /* Default background color */
  transition: background-color 0.3s ease;
  /* Smooth transition effect */
}

.icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: auto;
  padding-right: 1rem;
  margin-top: -0.3rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  list-style-type: none;
  padding: 1rem;
  background-color: blue;
  font-size: 1.4rem;
}

.menu a {
  text-decoration: none;
  color: aliceblue;
}

.item_section {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 70vh;
  justify-content: space-evenly;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.item_section a {
  text-decoration: none;
  color: blue;
}

.menu_container {
  flex: 1 0 100%;
}
.section_container {
  display: flex;
  flex-wrap: wrap;
}


.section_two {
  /* display: block; */
  width: 60%;
  height: 90vh;
  margin-top: 30px;
  margin-left: 20px;
  /* border: 1px solid black; */
}

/* this is about form */
.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* max-width: 400px; */
  width: 90%;
}

.insert-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* max-width: 400px; */
  width: 90%;
}

form h2 {
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

.productNumber {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.productNumber:focus {
  border-color: #1e90ff;
  outline: none;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #1e90ff;
  outline: none;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

button {
  /* width: 100%; */
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #1e90ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1f03c0;
}

.message{
  color: blue;
  font-size: 1.5rem;
  display: flex;
  flex: 100%;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: -1.2rem;
  visibility: visibile;

}
.msg{
  color: blue;
  font-size: 1.5rem;
  display: flex;
  flex: 100%;
  justify-content: center;
  margin-top: 0.5rem;
  margin-bottom: -1.2rem;
  visibility: visibile;

}
/* this is about table css */
table{
  width: 100% !important;
  border-collapse: collapse;
}
th,td{
  padding: 1rem;

}
th{
  background-color:lightgray;
  color: black;
}
tr:nth-child(odd){
  background-color:lightgray;
  color: black;
}
tr:nth-child(even){
  background-color:rgb(201, 227, 241);
  color: black;
}
.circle{
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
}